# Rust
/src-tauri/target/
/src-tauri/gen/

# Node
/ui/node_modules/

# OS
.DS_Store
Thumbs.db

# App Logs
*.log
log/work/*.md
!log/work/.gitkeep

# App temp
temp_sketches/
temp_sketches/*

# Processing
processing-3.5.4/


# Frontend Build
/ui/dist/

